.banner-container {
  display: flex;
  height: 41vh;
  justify-content: space-between;
}

.bc-img-frame {
  align-items: flex-end;
  background-color: $sea_weater;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(7, 41, 62, 0.5);
  display: flex;
  height: 41vh;
  justify-content: center;
  max-width: 342px;
  min-width: 285px;
  width: 23.75vw;
}

.bc-img-profile {
  object-fit: contain;
  transform: scaleX(-1);
  width: 14rem;
}

.bc-information {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  width: 31.25vw;
}

.bc-btn {
  background-color: $primary;
  border-radius: 10px;
  border: none;
  color: $sea_weater;
  cursor: pointer;
  font-size: 1em;
  height: 5.1227vh;
  white-space: nowrap;
  width: 12vw;
  min-width: 157px;
}

.bc-title {
  color: $primary;
  font-size: 2.813em;
  font-weight: 500;
}

.bc-subtitle {
  color: $primary;
  font-size: 1.125em;
  font-weight: 500;
}
